{% extends "base.html" %}

{% block content %}
<div class="container mt-3">
    <h2>{% if obj %}Editar{% else %}Criar{% endif %} Status Pagamento</h2>
    <form method="post" action="{{ action }}">
        {% csrf_token %}
        <div class="mb-3">
            {{ form.nome.label_tag }}
            {{ form.nome }}
            {% if form.nome.errors %}
            <div class="invalid-feedback d-block">{{ form.nome.errors.as_text }}</div>
            {% endif %}
        </div>
        <button class="btn btn-primary" type="submit">Salvar</button>
        <a href="{% url 'status_pagamento:list' %}" class="btn btn-secondary">Cancelar</a>
    </form>
</div>
{% endblock %}