# Python
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
env/
psico/
backend/staticfiles/

# Node
frontend/node_modules/
frontend/dist/

# IDEs
.vscode/
.idea/

# OS
Thumbs.db
.DS_Store

# DB
*.sqlite3

# Logs
*.log

# Secrets
.env
.env.local
.env.*.local
*.pem
*.key
Espec_NeuroCare_2025.docx